$sky: #fb71a3;
$sun: #fbcce3;
$cloud: #ffffff;
$basket: #d1c1a5;
$balloonRope: #b33e64;
$balloonColor1: #d7608d;
$balloonColor2: #ffffff;

body {
  background: $sky;
}

.sun {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: $sun;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.cloud {
  background: $cloud;
  width: 100px;
  height: 35px;
  border-radius: 35px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  margin-top: 200px;
  box-shadow: 0 3px 5px transparentize($sky, 0.4);
  animation: cloud infinite 3s;

  &:before {
    content: "";
    height: 40px;
    width: 40px;
    background: $cloud;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
  }

  &:after {
    content: "";
    height: 60px;
    width: 60px;
    background: $cloud;
    position: absolute;
    bottom: 5px;
    right: 15%;
    border-radius: 50%;
  }

  &:nth-child(2) {
    width: 80px;
    margin-left: 70px;
    margin-top: 190px;
    animation-delay: -1s;

    &:before {
      left: auto;
      right: 0;
    }

    &:after {
      width: 50px;
      height: 50px;
      right: auto;
      left: 10%;
    }
  }
}

.hot-air-balloon {
  position: absolute;
  left: 50%;
  margin-top: 250px;
  margin-left: -10px;
  animation: balloon infinite 3s 0.5s;

  .balloon {
    width: 70px;
    height: 12px;
    background: $balloonColor1;
    border: 3px solid $balloonRope;
    border-radius: 3px;
    position: absolute;
    top: -42px;
    left: 50%;
    margin-left: -35px;

    &:before {
      content: "";
      background: $balloonColor1;
      width: 140px;
      height: 160px;
      position: absolute;
      bottom: 26px;
      left: 50%;
      margin-left: -73px;
      border-radius: 50%;
      border: 3px solid $balloonRope;
    }

    &:after {
      content: "";
      background: $balloonColor1;
      width: 80px;
      height: 49px;
      position: absolute;
      bottom: 4px;
      left: 50%;
      margin-left: -43px;
      transform: perspective(70px) rotateX(-40deg);
      border: 3px solid $balloonRope;
      border-top: 0;
    }

    span {
      display: block;
      width: 84px;
      height: 174px;
      background: $balloonColor2;
      border-radius: 50%;
      position: absolute;
      bottom: 12px;
      z-index: 2;
      border: 3px solid $balloonRope;
      left: 50%;
      margin-left: -45px;
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);

      &:after {
        content: "";
        display: block;
        width: 28px;
        height: 174px;
        background: $balloonColor1;
        border-radius: 50%;
        position: absolute;
        bottom: -3px;
        z-index: 2;
        border: 3px solid $balloonRope;
        left: 50%;
        margin-left: -17px;
      }
    }
  }

  .basket {
    width: 20px;
    height: 20px;
    background: $basket;
    border: 3px solid $balloonRope;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 2px 4px transparentize($balloonRope, 0.6);

    &:before {
      content: "";
      width: 30px;
      height: 6px;
      background: $basket;
      position: absolute;
      top: -12px;
      left: -8px;
      border: 3px solid $balloonRope;
      border-radius: 3px;
    }

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: -30px;
      left: -2px;
      transform: perspective(50px) rotateX(-40deg);
      border: 2px solid $balloonRope;
    }
  }
}

@keyframes cloud {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes balloon {
  0%, 100% {
    transform: translateY(0);
  }


  50% {
    transform: translateY(-10px);
  }
}